<template>
  <div class="container">
    <h2>Articles</h2>
    <div>
      <b-row
        class="d-flex mb-4"
        v-for="(item, index) in listOfArticles"
        :key="index"
      >
        <b-col cols="1">
          <img :src="item.img" alt="" />
        </b-col>
        <b-col cols="11">
          <h4 class="pb-1">{{ item.name }}</h4>
          <p>{{ item.text }}</p>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Articles",
  props: {
    listOfArticles: {
      type: Array,
      default: null,
    },
  },
};
</script>
