<template>
  <div class="container">
    <h2>Products</h2>
    <b-row class="d-flex flex-wrap">
      <b-col v-for="(item, index) in listOfProduct" :key="index" class="mb-3">
        <div class="card" style="width: 320px">
          <img
            class="card-img-top"
            :src="item.img"
            alt="Card image"
            style="width: 100%"
          />
          <div class="card-body">
            <h3>{{ item.name }}</h3>
            <h4>{{ item.price }}</h4>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Products",
  props: {
    listOfProduct: {
      type: Array,
      default: null,
    },
  },
};
</script>
