<template>
  <div id="home">
    <section>
      <b-row>
        <b-col>
          <center>
            <h1 class="text-center">Advance Vue.js Component</h1>
            <h1 class="text-center">Position with container</h1>
            <h1 class="text-center">Component</h1>
            <p>
              Demo application to show to separate Vue.js components into
              <br />Container components and Presentational Components
            </p>
          </center>
        </b-col>
      </b-row>
    </section>
    <section>
      <product-page
        :list-of-product="listOfProduct"
        class="mt-5"
      ></product-page>
    </section>
    <section>
      <article-page
        :list-of-articles="listOfArticles"
        class="mt-5"
      ></article-page>
    </section>
  </div>
</template>

<script>
import Product from "@/components/product";
import Article from "@/components/article";
import { get as getpro } from "@/assets/data/product.js";
import { get as getart } from "@/assets/data/article.js";

export default {
  name: "home",
  components: {
    "product-page": Product,
    "article-page": Article,
  },
  data() {
    return {
      listOfProduct: [],
      listOfArticles: [],
    };
  },
  async created() {
    await getpro({}, 10, 1).then((res) => {
      this.listOfProduct = res?.data;
    });
    await getart({}, 10, 1).then((res) => {
      this.listOfArticles = res?.data;
    });
  },
};
</script>

<style>
</style>