<template>
  <div id="app container-fluid">
    <b-row class="border-bottom">
      <b-col class="col">
        <div id="nav">
          <router-link to="/">Home</router-link>
          <router-link to="/products">Products</router-link>
          <router-link to="/articels">Articles</router-link>
        </div>
      </b-col>
    </b-row>
    <router-view />
    <home-page />
  </div>
</template>

<script>
import Home from "./views/home";
export default {
  name: "App",
  components: {
    "home-page": Home,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 0 10px;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
